
{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
<form method="post" class="form-horizontal">
  {% csrf_token %}
  {{ form }}
  <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
</form>
            </div></div></div>
{% endblock %}