<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Save Life</title>
                <!-- Core CSS - Include with every page -->
             <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

                </head>
                <body>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <a class="navbar-brand" href="#">SAVE LIFE</a>
                            </div>

                        </div>
                    </nav>


{% block content %}
    {% if form.errors %}

<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}

<div class="alert alert-danger" style="text-align: center;">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</div>
    {% else %}

<p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    {% load static %}


<div class="container">
<p>
<h3 style="text-align: center">Help In Need Is Help Indeed!!!</h3>
    <h4 style="text-align: center">Add Your Blood Information Here, Someone Might Need Your Help!!!</h4>
    </p>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
                <img src="{% static 'logo4.png' %}" class="img img-responsive img-rounded" alt="logo" style="width: 200px; height:150px; margin-left: 60px;"/>

            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action=" ">
{% csrf_token %}

                        <p class="bs-component">
                            <table>
                                <tr>
                                    <td>{{ form.username.label_tag }}</td>
                                    <td>{{ form.username }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.password.label_tag }}</td>
                                    <td>{{ form.password }}</td>
                                </tr>
                            </table>
                        </p>
                        <p><a href="/resetform/">Forgot Password?</a></p>
                        <p class="bs-component">
                            <center>

                                <input class="btn btn-success btn-sm" type="submit" value="Login" />
                            <a href="/register/" class="btn btn-primary btn-sm">Create Account</a>
                        </center>
                        </p>
                        <input type="hidden" name="next" value="dashboard/" />
                    </form>
          </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block javascript %}


<script>
{% if not user.is_authenticated %}
$("ul.nav.navbar-nav.navbar-right").css("display","none");
{% endif %}
</script>
       <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>

                        <script>
    $(function () {
    // Create the chart
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Person With Blood Group Type Available'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total percent'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Blood Group',
            colorByPoint: true,
            data: [{
                name: 'O+',

                y: {{ data1 }},

                drilldown: 'O+'
            }, {
                name: 'O-',
                y: {{ data2 }},
                drilldown: 'O-'
            }, {
                name: 'A+',
                y: {{ data3 }},
                drilldown: 'A+'
            }, {
                name: 'A-',
                y: {{ data4 }},
                drilldown: 'A-'
            }, {
                name: 'B+',
                y: {{ data5 }},
                drilldown: 'B+'
            }, {
                name: 'B-',
                y: {{ data6 }},
                drilldown: 'B-'
            },
            {
                name: 'AB+',
                y: {{ data7 }},
                drilldown: 'AB+'
            },{
                name: 'AB-',
                y: {{ data8 }},
                drilldown: 'AB-'
            }]
        }],

    });
});

                        $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});


    </script>
        <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
{% endblock %}
</body></html>