{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="jumbotron">
{% if messages %}
        {% for message in messages %}
<p class="">{{ message }}</p>
        {% endfor %}
    {% endif %}
            {% if user.is_authenticated %}

			<form  method="post" class="form-inline" action="/addmember/">
                {% csrf_token %}

<input type="hidden" name="user_id" value="{{ request.user.id }}" id="user_id"/>

				<div class="form-group">
					<input type="text" name="fullname" class="form-control"  placeholder="Full Name" required="">
					<span></span>
				</div>

                <div class="form-group">
					<input type="radio" class="form-control" name="gender" value="male"> Male
  <input type="radio" name="gender" class="form-control" value="female"> Female
  <input type="radio" name="gender" class="form-control" value="other"> Other
					<span></span>
				</div>

				<div class="form-group">
					<select id="country" name="relationship"onchange="change_country(this.value)" class="form-control"  required>
						<option>Relationship</option>
                        <option>Me</option>
						<option>Father</option>
						<option>Mother</option>
                        <option>Brother</option>
                        <option>Sister</option>
						<option>Son</option>
                        <option>Daughter</option>
					</select>
					<span></span>
				</div>





				<div class="clear"> </div>
                <br>
				<!--div class="styled-input">
					<input type="text" name="Username" placeholder="Username" required="">
					<span></span>
				</div-->
				<!--div class="styled-input">
					<input type="email" name="Email" placeholder="Email" required="">
					<span></span>
				</div-->
                <div class="form-group">
					<select id="country" name="bloodgroup"onchange="change_country(this.value)" class="form-control" required>
						<option>Blood Group</option>
						<option>O+</option>
						<option>O-</option>
                        <option>A+</option>
                        <option>A-</option>
						<option>B+</option>
                        <option>B-</option>
                        <option>AB+</option>
                        <option>AB-</option>
					</select>
					<span></span>
				</div>
				<div class="form-group">
					<input type="text" name="address" class="form-control"placeholder="Address" required="">
					<span></span>
				</div>
                	<div class="form-group">
					<input type="text" name="phone" class="form-control" placeholder="Phone Number" required="">
					<span></span>
				</div>

                <!--div class="styled-input">
					<input type="text" name="org" placeholder="Blood Donated To" required="">
					<span></span>
				</div>
                <div class="styled-input">
					<input type="text" name="event" placeholder="Event Location" required="">
					<span></span>
				</div>
				<div class="clear"> </div>
                <div class="styled-input">
					<input type="text" name="date" placeholder="Donated Date" required="">
					<span></span>
				</div-->

                <div class="clear"> </div>

				<!--div class="styled-input w3_styled_input_textarea">
					<textarea name="Review" placeholder="Write a review" required=" "></textarea>
					<span></span>
				</div-->
                <br>
				<input type="submit" class="btn btn-success" value="Add Report"/>
			</form>


{% else %}
<a href="/" style="color: #fff;">Login</a> |
<a href="/register/" style="color: #fff;">Register</a>
{% endif %}

        </div>
    </div>
</div>

    <div class="container">
    <div class="row">
        <div class="jumbotron" style="overflow-x: auto;">

     <table id="srtable" class="table table-responsive table-bordered  table-stripped table-hovered">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Relationship</th>
        <th>Blood Group</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Action</th>


    </tr>
         </thead>
     {% for data in data %}


    <tr>
        <td>{{data.fullname}}</td>
        <td>{{ data.gender }}</td>
        <td>{{ data.relationship }}</td>
        <td>{{ data.bloodgroup }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.phone }}</td>
        <td><a href="/delete/{{ data.id|urlencode }}" class="btn btn-danger btn-xs">Remove</a> </td>

    </tr>



 {% endfor %}
    </table>
        </div>
    </div>
    </div>

<!-- Latest compiled JavaScript -->


{% endblock %}