{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <title>Save Life</title>
                <!-- Core CSS - Include with every page -->
             <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">

                </head>
                <body>
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <a class="navbar-brand" href="#">SAVE LIFE</a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                <ul class="nav navbar-nav">
      <li><a href="/dashboard/">Dashboard</a></li>
      <li><a href="/addform/">Add Blood Info</a></li>
      <li><a href="/showbucket/">Bucket List</a></li>

    </ul>
                                <ul class="nav navbar-nav navbar-right">

                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" data-toggle="modal" data-target="#alertModal">Send Blood Alert</a></li>

                                            <li>
                                                <a href="/password/">change password</a>
                                            </li>

                                            <li class="divider"></li>
                                            <li>
                                                <a href="/logout">Logout</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>

                {% block content %}
                {% endblock %}

             <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                     <script src="{% static 'main.js'  %}" type="text/javascript"></script>

   <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
      <script>
          $(document).ready(function() {
    $('#srtable').DataTable();
    $('#altable').DataTable();

} );

                                  $(document).on('submit', '#add_item', function() {
    $.ajax({
        type: $(this).attr('method'),
        url: this.action,
        data: $(this).serialize(),
        context: this,
        success: function(data, status) {
            location.reload();
            //alert($("#dateevent").val());
        },
        error: function (request, type, errorThrown) {
            $('#add_item').html(request.responseText);
            alert("error");
        }
    });
    return false;
})


          $(function() {
              $('.editbtn').click(function () {
                  var id = $(this).data('id');
                  var eventname = $(this).data('eventname');


                  $('#id').val(id);
                  $('#eventname').val(eventname);



              });
              $('.alertbtn').click(function () {
                  var id = $(this).data('id');
                  var name = $(this).data('name');


                  $('#user').val(id);
                  $('#fname').val(name);



              });
          });

      </script>
        {% block javascript %}
        {% endblock %}


            </body>
        </html>