<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<body style="background-color: #269abc;">
{% if user.is_authenticated %}


    <div class="container">
<b > Welcome {{ user.username }} </b>




{% endif %}
</body>
</html>