{% extends 'base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="jumbotron" style="overflow-x: auto;">

            <h1>Hello</h1>
            {% if user.is_authenticated %}

welcome {{ user.username }}
{% else %}
<a href="/" style="color: #fff;">Login</a> |
<a href="/register/" style="color: #fff;">Register</a>
{% endif %}
            <p>You are on your Dashboard <!-- Trigger the modal with a button -->
                {% if user.is_superuser %}


{% else %}
<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Create Your Bucket List</button>
        {% endif %}
            </p>
        <form method="post" action="/search/">
            {% csrf_token %}
 <div class="form-group">
					<select id="country" name="bloodgroup"onchange="change_country(this.value)" class="form-control" required>
						<option>Blood Group</option>
						<option>O+</option>
						<option>O-</option>
                        <option>A+</option>
                        <option>A-</option>
						<option>B+</option>
                        <option>B-</option>
                        <option>AB+</option>
                        <option>AB-</option>
					</select>
					<span></span>
				</div>

     <div class="form-group">

    <div class="col-sm-3">
      <input type="submit" class="btn btn-warning"  value="Search Now"/>

    </div>
          </div>

</form>

        <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Have You Ever Joined Any Blood Donation Camp/Event ?</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="post" action="/addevent/" id="add_item">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{ request.user.id }}" id="user_id"/>

  <div class="form-group">
    <label class="control-label col-sm-2" for="text">Event Name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="text" name="eventname"placeholder="Enter event name" required>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" >Date:</label>
    <div class="col-sm-10">
<div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control"  name="dateevent" id="dateevent" readonly>
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

{% if data %}
<br/><br/><br/>
     <table id="srtable" class="table table-responsive table-bordered  table-stripped table-hovered">
    <thead style="background-color: #31b0d5;">
    <tr>
        <th>Full Name</th>
                        {% if user.is_superuser %}

        <th>Gender</th>
                            {% else %}
{% endif %}
        <th>Address</th>
                            {% if user.is_superuser %}

        <th>Contact</th>
                                {% else %}
                                {% endif %}
        <th>Blood Group</th>


    </tr>
         </thead>


{% for data in data %}
    <tr>
        <td>{{ data.fullname }}</td>
                                {% if user.is_superuser %}

        <td>{{ data.gender }}</td>
        {% else %}
        {% endif %}
        <td>{{ data.address }}</td>
                            {% if user.is_superuser %}

        <td>{{ data.phone }}</td>
    {% else %}
    {% endif %}
        <td>{{ data.bloodgroup }}</td>

    </tr>
{% endfor %}
    </table>

{% endif %}

        </div>
    </div>
</div>

<!-- Modal -->
<div id="alertModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Need Blood - Send Blood Alert </h4>
      </div>
      <div class="modal-body">
          <div id="bmessage" class="alert alert-success" style="display: none;"></div>
          <div id="emessage" class="alert alert-danger" style="display:none;"></div>
	<form  method="post"  action="#" id="bform">
                {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ request.user.id }}" id="user_id"/>

  <div class="form-group">
    <label for="email">Need Blood Group:</label>
    <!--input type="text" class="form-control" id="fname" name="fname"readonly required-->
    <input type="text" class="form-control" name="nbloodgroup" id="user" required>
  </div>
        <br>
  <div class="form-group">
    <label for="pwd">Health Description:</label>
    <textarea class="form-control" id="ct" name="message" required></textarea>
  </div><br>
        <div class="form-group">
    <label for="ci">Contact Info:</label>
    <textarea class="form-control" id="cct" name="contactdesc" required></textarea>
  </div><br>
        <div class="form-group">
    <label class="control-label col-sm-2" >Date:</label>
    <div class="col-sm-10">
<div class="input-group date" data-provide="datepicker">
    <input type="text" class="form-control"  name="deadlinedate" id="deadlinedate" readonly>
    <div class="input-group-addon">
        <span class="glyphicon glyphicon-th"></span>
    </div>
</div>    </div>
  </div>

  <button type="submit" class="btn btn-success" id="bsubmit">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

</form>      </div>

    </div>

  </div>
</div>


    <!----Notice modal---------------------->
    <div id="nModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">New NOTICES</h4>
      </div>
      <div class="modal-body">
{% if datab %}
<br/><br/><br/>
     <table id="altable" class="table table-responsive  table-condensed table-stripped table-hovered">
    <thead >
    <tr>
        <th>Notice</th>
        <th>Blood Group in Demand</th>
        <th>Contact Details</th>
        <th>Deadline Date</th>

    </tr>
         </thead>


{% for datab in datab %}
    <tr>
      <td>{{ datab.message }}</td>
      <td>{{ datab.nbloodgroup }}</td>
      <td>{{ datab.contactdesc }}</td>
      <td>{{ datab.deadlinedate }}</td>
    </tr>
{% endfor %}
    </table>

{% endif %}
  </div>
  <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
      </div></div>
    <!-------------end---------------------------->



<div class="container" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

       <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>


                        <script>
    $(function () {
    // Create the chart
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Person With Blood Group Type Available'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total percent'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Blood Group',
            colorByPoint: true,
            data: [{
                name: 'O+',

                y: {{ data1 }},

                drilldown: 'O+'
            }, {
                name: 'O-',
                y: {{ data2 }},
                drilldown: 'O-'
            }, {
                name: 'A+',
                y: {{ data3 }},
                drilldown: 'A+'
            }, {
                name: 'A-',
                y: {{ data4 }},
                drilldown: 'A-'
            }, {
                name: 'B+',
                y: {{ data5 }},
                drilldown: 'B+'
            }, {
                name: 'B-',
                y: {{ data6 }},
                drilldown: 'B-'
            },
            {
                name: 'AB+',
                y: {{ data7 }},
                drilldown: 'AB+'
            },{
                name: 'AB-',
                y: {{ data8 }},
                drilldown: 'AB-'
            }]
        }],

    });
});

                        $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});

    </script>
    <script type="text/javascript">
    $(window).on('load',function(){
        $('#nModal').modal('show');
    });
</script>
{% endblock %}