{% extends 'base.html' %}

{% block content %}



    <div class="container">
    <div class="row">
        <div class="jumbotron" style="overflow-x: auto;">
        <div class="alert alert-info">
  <strong>My Bucket List!!!</strong>
</div>
{% if messages %}
        {% for message in messages %}
<div class="alert alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

     <table id="srtable" class="table table-responsive table-bordered  table-stripped table-hovered">
    <thead>
    <tr>
        <th>Event Name</th>
        <th>Attended On</th>
        <th>Action <i class="glyphicon glyphicon-asterisk"></i></th>


    </tr>
         </thead>
     {% for data in data %}


    <tr>
        <td>{{data.eventname}}</td>
        <td>{{ data.dateevent }}</td>
        <td><a href="/remove/{{ data.id|urlencode }}" class="btn btn-danger btn-xs">Remove</a> </td>

    </tr>

 {% endfor %}
    </table>
        </div>
    </div>
    </div>
  <!-- Modal -->
<div id="bModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
<form method="post" action="/update/">
                    {% csrf_token %}

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="text" class="form-control" id="id" name="id">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="text" class="form-control" id="eventname" name="eventname">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Latest compiled JavaScript -->


{% endblock %}